<% @recipes.each do |recipe| %>
  <h3><b><%= recipe.title %></b></h3>
  <br>
    <% @recipe_ingredients = @ingredients.select{|ingredient| ingredient[:recipe_id] == recipe[:id]} %>
    <% @recipe_ingredients.each do |ingredient| %>
      <ul>
        <li><%= ingredient.name %></li>
      </ul>
    <% end %>
  <br>
  <p><%= recipe.instructions %></p>
  <p class="meta">Created: <%= recipe.created_at %></p>
  <br>
<% end %>