<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <link href="/style.css" rel="stylesheet">
  <title>Recipes</title>
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Recipes</a></h1>
      <h2>'cause peeps gotta eat</h2>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small>Curated by Sofia-Jeanne Roggeveen</a>.</small></p>
  </footer>
</body>
</html>